# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
venv/

# Ignore environment variable files
.env

# IDE or editor-specific files (optional, if using VSCode, PyCharm, etc.)
.vscode/
.idea/


git rm --cached weather_api.log